@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@tailwind base;

html, body {
  font-family: 'Open Sans', sans-serif;
}

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-custom-btn text-white font-bold py-2 px-4 rounded;
}

.lt-spacing-logo {
  letter-spacing: 0.25em;
}

.bg-custom-btn {
  background: linear-gradient(261.54deg, #4A8FE7 7.84%, #5C7AFF 100.32%);
}

.border-interval {
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.1);
}

.cell {
  transition: ease 0.5s;
}

.cell:hover {
  height: 5rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 40vw;
  background-color: #CCC;
}

.spinner img {
  animation: loading 1500ms infinite linear;
}

@keyframes loading {
  to {transform: rotate(360deg);}
}



/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
